@inject UserManager<GameStoreUser> UserManager

@*Check to see if the user is not authenticated*@
@if (!User.Identity!.IsAuthenticated)
{
    <!-- Link to log in page -->
    <a class="btn btn-outline-success my-2 my-sm-0" asp-controller="Account" asp-action="Login">
        <i class="bg bi-box-arrow-in-right"></i> Log in
    </a>
    <span style="padding: 5px;"></span>
    <!-- Link to register page -->
    <a class="btn btn-outline-primary my-2 my-sm-0" asp-controller="Account" asp-action="Register">
        <i class="bg bi-person-plus"></i> Register
    </a>
}
else @*Else display the authenticated user indetity navigation buttons*@
{
    <!-- Dropdown menu for authenticated users -->
    <div class="dropdown">
        <!-- Button to open the dropdown menu -->
        <button class="btn btn-outline-success dropdown-toggle" type="button" id="profile-btn" data-toggle="dropdown" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-person-badge"></i> Hello @UserManager.GetUserName(User)</button>
        <!-- Dropdown menu items -->
        <ul class="dropdown-menu" aria-labelledby="profile-btn">
            <!-- Link to orders page -->
            <li>
                <a class="dropdown-item" asp-controller="Orders" asp-action="Index"><i class="bi bi-list"></i> Orders</a>
            </li>
            @*Check to see if the user is authenicated and has the role admin*@
            @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
            {
                <!-- Link to users page -->
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Users"><i class="bi bi-person"></i> Users</a>
                </li>
            }
        </ul>
    </div>

    <!-- Logout button -->
    <span style="padding: 5px;"></span>
    <form asp-controller="Account" asp-action="Logout">
        <button class="btn btn-outline-danger my-2 my-sm-0"><i class="bi bi-box-arrow-right"></i> Log out</button>
    </form>
}



