<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center align-content-center">
        <h2>You are successfully registed</h2>
        <p>You can now log into your account</p>
        <hr />
        <p>Thank You!</p>
    </div>
</div>